/.vs
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
/Assets/Packs
Assets/Packs.meta
Assets/Samples/Shader Graph.meta
Assets/Samples/Shader Graph/17.0.3.meta
/Assets/Samples/Shader Graph
/Assets/TextMesh Pro
Assets/TextMesh Pro.meta
Library/AnnotationManager
Library/APIUpdater/project-dependencies.graph
/Library
/Logs
/obj
/Packages
*.csproj
ProjectSettings/DynamicsManager.asset
/ProjectSettings
Assets/TownCenter.cs
Temp/__Backupscenes/0.backup
/Temp
